<link href="css/buttons.dataTables.min.css" rel="stylesheet">
<link href="css/select.dataTables.min.css" rel="stylesheet">

<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">YunPass管理</a></li>
            <li><a href="#">密钥查看</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                </div>
                <div class="box-icons">
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content no-padding">
                <div class="box-content" style="padding-bottom:0;padding-left: 30px">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="type">无线类型</label>
                            <select name="type" id="type">
                                <option value="">所有</option>
                                <option value="1">蓝牙</option>
                                <option value="2">WIFI</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="status">无线状态</label>
                            <select name="status" id="status">
                                <option value="">所有状态</option>
                                <option value="1">园区密钥</option>
                                <option value="2">楼栋密钥</option>
                                <option value="3">道闸密钥</option>
                                <option value="4">未使用密钥</option>
                            </select>
                            <button id="doFilterBtn">确定</button>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-hover table-heading table-datatable"
                       id="secretListTable">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>门锁编号</th>
                        <th>无线类型</th>
                        <th>无线密码</th>
                        <th>开门密钥</th>
                        <th>控制对象</th>
                        <th>对象信息</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Start: list_row -->
                    <!-- End: list_row -->
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>序号</th>
                        <th>门锁编号</th>
                        <th>无线类型</th>
                        <th>无线密码</th>
                        <th>开门密钥</th>
                        <th>控制对象</th>
                        <th>对象信息</th>
                        <th>操作</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" id="setSecretModel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">yunPass配置</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="setSecretForm" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">控制对象</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="controlType" name="controlType">
                                            <option value="">--请选择--</option>
                                            <option value="village">园区</option>
                                            <option value="building">楼栋</option>
                                            <option value="brake">道闸</option>
                                        </select>
                                        <input type="hidden" id="hiddenID" name="id">
                                    </div>
                                </div>
                                <div id="changeArea">
                                    <div class="form-group" id="villageArea">
                                        <label class="col-sm-3 control-label">选择园区</label>
                                        <div class="col-sm-8">
                                            <select name="villageId" class="form-control villageList" id="villageId">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" id="brakeArea">
                                        <label class="col-sm-3 control-label">选择道闸</label>
                                        <div class="col-sm-8">
                                            <select name="brakeId" class="form-control" id="brakeId">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" id="buildingArea">
                                        <label class="col-sm-3 control-label">选择楼栋</label>
                                        <div class="col-sm-8">
                                            <select name="buildingId" class="form-control" id="buildingId">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button type="button" class="btn btn-primary" id="submitSetSecret">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    var editTable;//全局的datatable变量
    $("#doFilterBtn").click(function(){
        editTable.draw();
    });
    //删除数据
    $('#secretListTable tbody').on( 'click', 'button#delRow', function () {
        var data = editTable.row($(this).parents('tr') ).data();
        var comfirm=confirm("确定删除?")
        if(comfirm)
            $.ajax({
                type: "get",
                async: true,
                url: urlConfig.deleteSecret+data.id,
                dataType: "json",
                success: function (result) {
                    if (result.status) {
                        alert("删除成功");
                        editTable.ajax.reload(null, false);
                    }
                    else
                    {
                        alert(result.errorMsg.description);
                    }
                },
                error: function () {
                    alert("网络连接失败");
                }
            });
    });

    $('#secretListTable tbody').on( 'click', 'button#editRow', function () {
        alert("导入密钥不能修改!");
    });


    $('#secretListTable tbody').on( 'click', 'button#setControlObject', function () {
        $("#setSecretModel").modal("show");
        var data = editTable.row($(this).parents('tr') ).data();
        $("#setSecretModel #hiddenID").val(data.id);
        $("#setSecretModel #changeArea").hide();
        $("#setSecretModel #controlType").val("");
    });
    $("#setSecretModel #controlType").change(function(){
        var controlType=$(this).val();
        var controlId;
        $("#setSecretModel #changeArea").hide();
        $("#setSecretModel #villageId").val("");
        if(controlType!="")
        {
            if(controlType=="village")
            {
                $("#setSecretModel #brakeArea").hide();
                $("#setSecretModel #buildingArea").hide();
                controlId=$("#setSecretModel #villageId option:selected").val();
            }
            else if(controlType=="building")
            {
                $("#setSecretModel #brakeArea").hide();
                $("#setSecretModel #buildingArea").show();
                controlId=$("#setSecretModel #buildingId option:selected").val();
            }
            else if(controlType="brake")
            {
                $("#setSecretModel #brakeArea").show();
                $("#setSecretModel #buildingArea").hide();
                controlId=$("#setSecretModel #brakeId option:selected").val();
            }
            $("#setSecretModel #changeArea").show();
        }
        else
        {

        }
        console.log($(this).val());
    });
    $("#setSecretModel #villageId").change(function(){
        var controlType=$("#setSecretModel #controlType").val();
        var url;
        var target;
        var villageId=$("#setSecretModel #villageId").val();
        if(controlType=="building") {
            url = urlConfig.getBuildingSelect2 + villageId;
            target=$("#setSecretModel #buildingId");
        }
        else if(controlType=="brake") {
            url = urlConfig.getBrakeListByVillageID + villageId;
            target=$("#setSecretModel #brakeId");
        }
        else
            return;
        if(villageId=="") {
            target.html("<option value=''>--暂无相关数据--</option>");
            return;
        }
        $.ajax({
            type: "get",
            async: true,
            url: url,
            dataType: "json",
            success: function (result) {
                if (result.status) {
                    if(result.jsonString!=null)
                    {
                        var html="";
                        for(var i in result.jsonString)
                        {
                            html+="<option value='"+result.jsonString[i].id+"'>"+result.jsonString[i].text+"</option>";
                        }
                        target.html(html);
                    }
                    else
                    {
                        target.html("<option value=''>--暂无相关数据--</option>");
                    }
                    console.log(result);
                }
                else
                {
                    target.html("<option value=''>"+result.errorMsg.description+"</option>");
                }
            },
            error: function () {
                target.html("<option value=''>网络连接失败</option>");
            }
        });

    });
    $("#setSecretModel #submitSetSecret").click(function(){
        var controlType=$("#setSecretModel #controlType").val();
        var id=$("#setSecretModel #hiddenID").val();
        var controlId="";
        if(controlType=="building")
            controlId= $("#setSecretModel #buildingId").val();
        else if(controlType=="brake")
            controlId=$("#setSecretModel #brakeId").val();
        else if(controlType=="village")
            controlId=$("#setSecretModel #villageId").val();
        if(controlId==""||id=="")
        {
            alert("操作错误,请选择正确的选项");
            return;
        }
        $.ajax({
            type: "get",
            async: true,
            url: urlConfig.setSecret+controlType,
            data:{
                id:id,
                controlId:controlId
            },
            dataType: "json",
            success: function (result) {
                if (result.status) {
                    alert("设置成功");
                    $("#setSecretModel").modal("hide");
                    editTable.ajax.reload(null, false);
                }
                else
                {
                    alert(result.errorMsg.description);
                }
            },
            error: function () {
                alert("网络连接失败");
            }
        });

    });

    $('#secretListTable tbody').on( 'click', 'button#editRow', function () {
        alert("导入密钥不能修改!");
    });


    //初始化表格数据
    function initDataTable(){
        editTable=$('#secretListTable').DataTable({
            "processing":true,
            "serverSide": true,
            "ajax":{
                "url": urlConfig.secretList,
                "data":function ( d ) {
                    d.type=$("#type option:selected").val();
                    d.status=$("#status option:selected").val();
                },
                "dataSrc": "jsonString"
            },
            "columnDefs": [{
                "targets": 0,
                "data":null,
                "orderable": false,
                "searchable": false,
                "createdCell": function (nTd, sData, oData, iRow, iCol) {
                    var startnum=this.api().page()*(this.api().page.info().length);
                    $(nTd).html(iRow+1+startnum);
                }
            },{
                "targets": 1,
                "data": "symbol",
                "visible": true,
                "orderable": false,
                "searchable": false

            },{
                "targets": 2,
                "data": "type",
                "visible": true,
                "orderable": false,
                "searchable": false,
                "render": function ( data, type, row ) {
                    if(data==1)
                        return "<font color='blue'>蓝牙</font>";
                    else if(data==2)
                        return "<font color='green'>wifi</font>";
                    else
                        return "<font color='red'>数据异常</font>"+data;
                }

            },{
                "targets": 3,
                "data": "password",
                "visible": true,
                "orderable": false,
                "searchable": false,
                "render": function ( data, type, row ) {
                    if(row.type==1)
                        return "--";
                    else
                        return data;
                }

            },{
                "targets": 4,
                "data": "secret",
                "visible": true,
                "orderable": false,
                "searchable": false

            },{
                "targets": 5,
                "data": "controlType",
                "visible": true,
                "orderable": false,
                "searchable": false,
                "render": function ( data, type, row ) {
                    if(data==1)
                        return "<font color='blue'>园区密钥</font>";
                    else if(data==2)
                        return "<font color='green'>楼栋密钥</font>";
                    else if(data==3)
                        return "<font color='#d2691e'>道闸密钥</font>";
                    else
                        return "<button id='setControlObject' class='btn btn-primary' type='button'>设置</button>";
                }
            },{
                "targets": 6,
                "data": "controlEntity",
                "visible": true,
                "orderable": false,
                "searchable": false,
                "render": function ( data, type, row ) {
                    if(data!=null) {
                        if(row.controlType==null)
                            return data;
                        else if(row.controlType==2)
                            return data.buildingName + "--" + data.buildingCode;
                        else
                            return data.name + "--" + data.code;
                    }
                    else
                        return "--";
                }

            },{
                "targets": 7,//删除
                "data": null,
                "orderable": false,
                "searchable": false,
                "defaultContent":
                        "<button id='editRow' class='btn btn-primary' type='button'>修改</button>&ensp;"+
                        "<button id='delRow' class='btn btn-primary' type='button'>删除</button>"
            }
            ],
            "aaSorting": [[ 1, "asc" ]],
            "autoWidth":false,
            "sDom":
                    "<'box-content'<'col-sm-6'f><'col-sm-6 text-right'l><'clearfix'>>rt<'box-content'<'col-sm-6'i><'col-sm-6 text-right'p><'clearfix'>>",
            "language": {
                "emptyTable":     "没有相关数据",
                "info": "显示 _START_ 到 _END_ 条, 共 _TOTAL_ 条记录",
                "infoEmpty":      "没有相关数据",
                "infoFiltered":   "(筛选自 _MAX_ 条记录)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "每页显示 _MENU_ 条",
                "loadingRecords": "加载中",
                "processing":     "数据处理中",
                "search":         "搜索:",
                "zeroRecords":    "没有找到匹配数据",
                "paginate": {
                    "first":      "首页",
                    "last":       "末页",
                    "next":       "下一页",
                    "previous":   "上一页"
                },
                "aria": {
                    "sortAscending":  ":正序",
                    "sortDescending": ":倒序"
                }
            }
        });

    }
    $(document).ready(function() {
        $('#payTime').datepicker({setDate: new Date(),dateFormat:"yy-mm-dd",
            showButtonPanel:true,
            closeText:"关闭",
            yearSuffix: '年',
            currentText:'今天',
            showMonthAfterYear:true,
            monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
            dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
            dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
            dayNamesMin: ['日','一','二','三','四','五','六']
        });
        LoadDataTablesScripts(initDataTable);
        initVillageSelect();
    });
</script>
